body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    width: 320px;
    border: 1px solid #999999;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
ul li {
    display: inline;
}
ul li a {
    width: 30%;
    color: white;
    text-align: center;
    background-color: #81C6DD;
    float: left;
    overflow: hidden;
    padding: 10px 5px;
}
ul li:first-child a {
    border-right: 1px solid white;
    background-color: #90CA77;
}
ul li:last-child a {
    border-left: 1px solid white;
    background-color: #E9B64D;
}
#tabs {
    height: 36px;
    width: 100%;
}
#tab1{
    background-color: #90CA77;
}
#tab2{
    background-color: #81C6DD;
}
#tab3{
    background-color: #E9B64D;
}
#content {
    text-align: justify;
    overflow: hidden;
}
